* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rebeccapurple; */
}

body {
  background-color: gray;
}

#root {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.header__title {
  grid-column: 1/3;
}

.edit-screen {
  display: grid;
  gap: 20px;
  align-content: start;
}

.edit-section,
.preview-section {
  background-color: lightgray;
  display: grid;
  gap: 15px;
}

.edit-section {
  padding: 10px;
  height: min-content;
  cursor: pointer;
  border: none;
}

form {
  display: grid;
}

.preview-screen {
  background-color: lightgray;
}

.preview-header {
  background-color: cornflowerblue;
}

.preview-header__phone,
.preview-header__email {
  display: flex;
  align-items: center;
}

.preview-header__phone::before {
  content: url("../assets/phone.svg");
}

.preview-header__email::before {
  content: url("../assets/email.svg");
}

.form--collapsed {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: none;
}

.form--collapsed:hover {
  background-color: cornflowerblue;
}

.form--bg-color {
  background-color: whitesmoke;
}

.button--delete::after {
  content: url(../assets/delete.svg);
}

.button--add::after {
  content: url(../assets/add.svg);
}

.button--save::after {
  content: "save";
}
