* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rebeccapurple; */
}

body {
  background-color: gray;
}

#root {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.header__title {
  grid-column: 1/3;
}

.edit-screen {
  display: grid;
  gap: 20px;
}

.edit-section,
.preview-section {
  background-color: lightgray;
  display: grid;
  gap: 15px;
}

form {
  display: grid;
}

.preview-screen {
  background-color: lightgray;
}

.preview-screen__header {
  background-color: cornflowerblue;
}
