* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rebeccapurple; */
}

body {
  background-color: gray;
}

#root {
  display: grid;
  gap: 50px;
}

.edit-screen {
  display: grid;
  gap: 20px;
}

section {
  background-color: lightgray;
  display: grid;
  gap: 15px;
}

form {
  display: grid;
}
